body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.buttonTooltip {
    width: 100px;
    height: 50px;
    position: relative;
}

.buttonTooltip::before,
.buttonTooltip::after {
  --scale: 0;
  --arrow-size: 5px;
  --tooltip-color: coral;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

.buttonTooltip::before {
  --translate-y: calc(-100% - var(--arrow-size));

  content: attr(data-tooltip);
  color: white;
  padding: .5rem;
  border-radius: .3rem;
  text-align: center;
  width: max-content;
  max-width: 200%;
  background: var(--tooltip-color);
}

.buttonTooltip:hover::before,
.buttonTooltip:hover::after {
  --scale: 1;
}

.buttonTooltip::after {
  --translate-y: calc(-1 * var(--arrow-size));

  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color: var(--tooltip-color);
  transform-origin: top center;
}